@import "base";
.accordion {
  font-family: $base-font-family;
  color: $default-white;
  dt , dd {
    margin:0 auto;
    width: 90%;
  }
  @media (min-width: 800px) {
    dt , dd {
      width: 40%;
    }
  }

  &__title {
    display: block;
    padding: 15px;
    border-bottom: 2px solid $ligth-pink;
    cursor: pointer;
    background-color: $slack-purple-dark;
    text-align: left;
    transition: background-color 0.4s;
    font-weight: $bold;
    text-align: center;
  }
  &__content {
    overflow: hidden;
    margin-left: 0px;
    padding: 0 15px;
    background-color: $blue-soft;
    transition: height 0.3s, background-color 2s;
    animation: 3s linear;
    text-align: center;
    height: 0;
    p {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
  &__title--open {
    background-color: $slack-purple-ligth;
  }
  &__content--open {
    height: 45px;
    background: $blue-soft-ligth;
  }
}
