@import url('https://fonts.googleapis.com/css?family=Overpass&display=swap');
// Font weights
$light: 100;
$regular: 400;
$bold: 600;

// Base Font
$base-font-family: Overpass;
$base-font-weight: $regular;
$base-font-size: 13px;
$base-line-height: 1.4;

//colors
$slack-purple-dark: #4A154B;
$slack-purple-ligth: #7B1F7A;
$blue-soft: #427ebd;
$blue-soft-ligth: #427ebd;
$background-page: #fff;
$ligth-pink: #bd3769;
$default-white:  whitesmoke;
$ligth-gray: #777;

