@import "base";
.container {
  color: whitesmoke;
  font-family: $base-font-family;
  height: 100%;
  background-color: $green;
  display: grid;
  grid-template-rows: 100px auto 40px;
  .menu{
    display: grid;
    align-items: center;
    justify-items: center;
  }
}
footer {
  text-align: center;
  padding: 10px;
}
