*,
*::before,
*::after {
  box-sizing: border-box;
}
html,
body { 
    background: linear-gradient(to bottom, purple, rgb(49, 15, 71));
    height: 100vh;
    color: white;
    display: flex;
    justify-content: center;
    flex-direction:column;
    margin: 0;
}
html,
body,
dl,
dt,
dd {
  margin: 0;
  padding: 0;
}


